body {
  min-height: 100vh; /* Делаем страницу достаточно длинной для прокрутки */
}

.full-name {
  font-size: 12px;
  color: #555;
}

.phone-link {
  font-size: 14px;
  text-decoration: none;
  color: blue;
}

.ant-card {
  .ant-card-body {
    padding: 0 12px;
  }
  .ant-card-head {
    padding: 0 14px;
  }
}

.opty-card {
  padding: 0 0px;
  margin: 10px 0px;
}

.ant-float-btn-circle {
  height: 60px;
  width: 60px;
}

.ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  width: 24px;
  font-size: 24px;
}

.ant-float-btn-group-top>.ant-float-btn-group-wrap {
  bottom: 76px;
}

.ant-pagination.ant-pagination-mini {
  .ant-pagination-item {
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
  }
  .ant-pagination-next {
    min-width: 34px;
    height: 34px;
    line-height: 34px;
  }
  .ant-pagination-prev {
    min-width: 34px;
    height: 34px;
    line-height: 34px;
  }
}

.ant-float-btn-group {
  bottom: 20px;
}

.ant-form-item {
  margin-bottom: 4px;

  .ant-form-item-label {
    padding: 0 0 0;
  }
}

@media (min-width: 1024px) { /* Для экранов шире 1024px */
  .centered-table .ant-table {
    max-width: 80%; /* Ограниение ширины */
  }
}